/*Medium Devices - Tablets*/
@media screen and (min-width: 576px) {

    navbar {
        padding: .5rem;


    }

    nav button {
        display: none;
    }

    .menu {
        display: flex;
        width: auto;
        gap: 1.5rem;
        max-height: 1000px;
    }

    button {

        margin: 10px;
        padding: 20px;
    }

    /*.wrapper-historia {
        height: 100%;
        min-height: 100vh;
        margin: 390px auto;
        width: 100%;
      }*/
      .info  {
        
        margin: 10px 40px;
    }
}


/*Medium Devices - Tablets*/
@media screen and (min-width: 768px) {



    nav button {
        display: none;
    }

    .menu {
        display: flex;
        width: auto;
        gap: 1.5rem;
        max-height: 1000px;
    }




    button {

        margin: 10px;
        padding: 20px;

    }

    #header {
        padding: min (20vw, 320px) 1rem;
        /*font-size: min (calc(2vw + 2rem),5rem);*/

        text-align: center;
        /*text-shadow: 0 0 .25rem #1a1a1a;*/
        /*Background*/
        background-image:
            linear-gradient(#050301a4 -20%, #29110004 100%),
            url("/assets/img/pag2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 800px;

    }



    main img {
        width: 150px;
    }

    main h1 {
        padding: 10px 30px;
    }

    
    



}




@media(max-width: 991px) {

    .wrapper-historia {
        align-items: center;
        margin: auto;
        width: 90%;
    }

    .wrapper-historia .historiap1 img {
        
        width: 100%;

    }

    .historiap1 {

        margin-bottom: 10px;
    }

    .historiap1 iframe {
        width: 100%;
        
    }

    .vermas {
        margin: 20px 100px;
        padding: 20px 20px;
        font-size: clamp(1.5rem, 5vw, 2rem);
        background-color: #545E46;
        color: white;
        border-style: none;
        border-radius: 40px;
        font-family: "Textos";
    }

    .vermas2 {
        margin: 20px 32px;
        padding: 20px 20px;
        font-size: clamp(1.5rem, 5vw, 2rem);
        background-color: #545E46;
        color: white;
        border-style: none;
        border-radius: 40px;
        font-family: "Textos";
    }

    .inspo {
        padding: 60px;
        text-align: center;

    }

    .inspo h1 {
        font-size: clamp(3rem, 5vw, 5rem);
        font-family: "Titulos2";
        font-weight: lighter;
        color: #b95d26;
    }


    .inspo h2 {
        font-size: clamp(2rem, 5vw, 3rem);
        font-family: "Titulos2";
        font-weight: lighter;
        color: #b95d26;

    }

    .inspo p {

        text-align: center;
        font-size: clamp(2rem, 5vw, 3rem);
        font-family: "Textos";
        color: #554343;
    }

    .container-inspo {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .row-inspo {
        gap:20px;
        display: flex;
        flex-wrap: wrap;

    }

    .inspoimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inspoimg img {
        width: 200px;
        height: 200px;
    }

    .iconinspo {
        width: 200px;
    }
    .info  {
        
        margin: 10px 40px;
    }


    .carousel{
        width: 80%;
    }
}

/*XXL Devices -  Samrt TV*/
@media screen and (min-width: 1400px) {
    nav {
        padding: 2rem calc(50vw - 700px);
    }
}